  <div class="tab-content text-center" style="margin-top:10%">
    <div class="row slideanim">
    <% @staffs.each do |staff| %>
     <div class="col-sm-4 card"> 
        <%= staff.title %>
        <%= link_to image_tag(staff.image.url, :class => "list"), staff %>
     </div>
    <% end %>
    </div>
    <%= link_to 'Back to home page', root_path, class: 'btn btn-prymary'  %>
  </div>