  <div class="tab-content text-center" style="margin-top:10%">
    <div class="row slideanim">
    <% @publications.each do |publication| %>
     <div class="col-sm-4 card"> 
        <%= publication.title %>
        <%= link_to image_tag(publication.image.url, :class => "list"), publication %>
     </div>
    <% end %>
     <%= link_to 'Back to home page', root_path, class: 'btn btn-prymary'  %>
    </div>
  </div>