<div class="tab-content text-center" style="margin-top:8%">
<p>
  <strong><%= @publication.title %></strong>
</p>

<p>
  <%= @publication.image %>
</p>

<p>
  <%= @publication.body %>
</p>


  <%= link_to 'Back', publications_path, class: 'btn btn-prymary'  %>
</div>
</div>

