<div class="tab-content text-center" style="margin:8% 0 5% 0">
<p>
  <strong><%= @publication.title %></strong>
</p>

<p style="margin-left:35%">
  <%= image_tag @publication.image_url, :class => "card art" %>
</p>

<p>
  <%= @publication.body %>
</p>


  <%= link_to 'Back to performer', publications_path, class: 'btn btn-prymary'  %>
</div>

