
<div class="tab-content text-center" style="margin-top:10%">
  <div class="row slideanim">
    <% @articles.each do |article| %>
      <div class="col-sm-4 card "> 
        <%= article.title %>
        <%= link_to image_tag(article.image.url, :class => "imgsize"), article %>
      </div>
    <% end %>
  </div>
   <%= link_to 'Back to home page', root_path, class: 'btn btn-prymary'  %>
</div>
