  <div class="table-hover text-center" style="margin-top:10%">
   <div class="row">
    <% @conversations.each do |conversation| %>
      <div class="col-sm-4 card "> 
        <% if conversation.target_user(current_user).present? %>
          <%= link_to conversation.target_user(current_user).name, conversation_messages_path(conversation)%>
        <% end %>
      </div>
    <% end %>
   </div>
  </div>

