<div class="tab-content text-center" style="margin-top:10%">
    <div class="row slideanim">
    <% @users.each do |user| %>
     <div class="col-sm-4 card"> 
        <%= user.name %>
        <%= link_to image_tag(user.image.url, :class => "list"), user %>
     </div>
    <% end %>
     <%= link_to 'Back to home page', root_path, class: 'btn btn-prymary'  %>
    </div>
  </div>

