<div class="tab-content text-center" style="margin-top:10%">
 <p><b>Would you like to message the following user? Choose one and start messaging</b></p>
   <div class="row ">
    <% @users.each do |user| %>
     <div class="col-sm-2 user card"> 
        <%= user.name %>
        <%= link_to image_tag(user.image.url, :class => "list  card"), user %>
     </div>
    <% end %>
   </div>
  <%= link_to 'Back to home page', root_path, class: 'btn btn-prymary'  %>
</div>

