<div class="tab-content text-center" style="margin-top:10%">
  <div class="row">
    <% @primaries.each do |primary| %>
      <%= primary.title %>
      <%= link_to image_tag(primary.image.url, :class => "art card"), primary %>
    <% end %>
  </div>
   <%= link_to 'Back to home page', root_path, class: 'btn btn-prymary'  %>
</div>
