
<div class="tab-content text-center" style="margin-top:10%">
  <div class="row ">
    <% @performers.each do |performer| %>
      <div class="col-sm-3.5 card "> 
        <%= performer.title %>
        <%= link_to image_tag(performer.image.url, :class => "list"), performer %>
      </div>
    <% end %>
  </div>
  <%= link_to 'Back to home page', root_path, class: 'btn btn-prymary'  %>
</div>