  <div class="tab-content text-center" style="margin-top:10%">
    <div class="row slideanim">
    <% @teachers.each do |teacher| %>
     <div class="col-sm-4 card"> 
        <%= teacher.name %>
        <%= link_to image_tag(teacher.image.url, :class => "list perfo"), teacher %>
     </div>
    <% end %>
     <%= link_to 'Back to home page', root_path, class: 'btn btn-prymary'  %>
    </div>
  </div>