<div class="tab-content text-center" style="margin-top:8%">
<p>
  <strong><%= @post.title %></strong>
</p>

<p style="margin-left:30%">
  <%= image_tag @post.image_url, :class => "pos card" %>
</p>

<p>
  <%= @post.body %>
</p>
  
  <%= link_to 'Back to Posts', posts_path, class: 'btn btn-prymary'  %>
</div>
</div>


