// Place all the styles related to the admissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field {
  width:100%;
  height: auto;
}

.admit {
  width:10%;
  border-radius: 5%;
  height: auto;
}

.img {
  margin-left: 28%;
}