// Place all the styles related to the performers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.performer {
    width:100%;
    height: auto;
    border-radius: 50%;
}

 .list {
    width: 50%;
    height:auto;
    margin-left: 10%;
    border-radius: 5%;
}