// Place all the styles related to the staffs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.staff {
    width:100%;
    height: auto;
    border-radius: 10%;
}

.list {
    width:100%;
    height: auto;
    border-radius: 5px;
}
 .art {
    width: 50%;
    height:auto;
    margin-left: 10%;
    border-radius: 5%;
}

footer {
  position: fixed;
  bottom: 0;
}