<div class=" activity tab-content text-center" style="margin-top:6%">
<p>
  <%= @activity.title %>
</p>

<p style="margin-left:35%">
  <%= image_tag @activity.image_url, :class => "card art" %>
</p>

<p>
  <%= @activity.body %>
</p>

<p>
   <%= link_to 'Back to Activities', activities_path, class: 'btn btn-prymary'  %>
<p>
  </br>
</div>